.RichTextEditor__root___2QXK-{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: 0 !important;
}
.RichTextEditor__root___2QXK-{
  border: 0;
}
.RichTextEditor__editor___1QqIR-{
  flex-grow: 1;
}
